<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.crt.dsfdebug.crtmcu.launchType">
    <stringAttribute key=".gdbinit" value=""/>
    <booleanAttribute key="attach" value="false"/>
    <booleanAttribute key="boot.config.enable" value="false"/>
    <stringAttribute key="boot.configuration.control" value=""/>
    <stringAttribute key="bootrom.stall" value="0x50000040"/>
    <stringAttribute key="com.crt.ctrlcenter.OFSemuDetails" value="LinkServer"/>
    <booleanAttribute key="com.crt.ctrlcenter.crtInit" value="true"/>
    <stringAttribute key="com.crt.ctrlcenter.currentWireType" value="SWD"/>
    <booleanAttribute key="com.crt.ctrlcenter.mainBreakIsHardware" value="true"/>
    <stringAttribute key="com.crt.ctrlcenter.serialNumber" value="LinkServerNXP SemiconductorsMCU-LINK FRDM-MCXN947 (r0E7) CMSIS-DAP V3.128NNF4LOKTTTMAC"/>
    <mapAttribute key="com.crt.ctrlcenter.symbolsGroupSettings"/>
    <intAttribute key="com.crt.ctrlcenter.version" value="6"/>
    <stringAttribute key="com.nxp.mcuxpresso.flash.base.address" value="0x0"/>
    <booleanAttribute key="com.nxp.mcuxpresso.flash.clear.console" value="true"/>
    <booleanAttribute key="com.nxp.mcuxpresso.flash.confirm" value="false"/>
    <stringAttribute key="com.nxp.mcuxpresso.flash.erase.algorithm" value="Mass erase"/>
    <stringAttribute key="com.nxp.mcuxpresso.flash.executable" value="axf"/>
    <stringAttribute key="com.nxp.mcuxpresso.flash.program.action" value="Program"/>
    <booleanAttribute key="com.nxp.mcuxpresso.flash.reset.target" value="true"/>
    <stringAttribute key="com.nxp.mcuxpresso.ide.probe.manufacturer" value="NXP Semiconductors"/>
    <stringAttribute key="com.nxp.mcuxpresso.ide.probe.name" value="MCU-LINK FRDM-MCXN947 (r0E7) CMSIS-DAP V3.128"/>
    <stringAttribute key="com.nxp.mcuxpresso.ide.probe.type" value="LinkServer"/>
    <stringAttribute key="debug.level" value="2"/>
    <stringAttribute key="emu.speed" value=""/>
    <stringAttribute key="flash.driver.reset" value=""/>
    <stringAttribute key="gdbserver.host" value="localhost"/>
    <stringAttribute key="gdbserver.port" value="10989"/>
    <booleanAttribute key="gdbserver.start" value="true"/>
    <booleanAttribute key="internal.attach.slave" value="false"/>
    <booleanAttribute key="internal.cache" value="false"/>
    <stringAttribute key="internal.connect.script" value=""/>
    <stringAttribute key="internal.core.index" value=""/>
    <booleanAttribute key="internal.has_swo" value="true"/>
    <booleanAttribute key="internal.multi.swd" value="true"/>
    <stringAttribute key="internal.prelaunch.command" value=""/>
    <stringAttribute key="internal.reset.script" value=""/>
    <stringAttribute key="internal.resethandling" value=""/>
    <stringAttribute key="internal.semihost" value="On"/>
    <stringAttribute key="internal.wirespeed" value=""/>
    <stringAttribute key="internal.wiretype" value="SWD"/>
    <stringAttribute key="isp.control" value="xxxx"/>
    <stringAttribute key="launch.config.handler" value="com.crt.ctrlcenter.launch.CRTLaunchConfigHandler"/>
    <booleanAttribute key="mem.access" value="false"/>
    <stringAttribute key="misc.options" value=" --romstalldelay 600"/>
    <stringAttribute key="ondisconnect" value="cont"/>
    <intAttribute key="org.eclipse.cdt.debug.gdbjtag.core.delay" value="0"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.doHalt" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.doReset" value="false"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.imageFileName" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.imageOffset" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.initCommands" value="set non-stop on&#10;set pagination off&#10;set mi-async&#10;set remotetimeout 60000&#10;##target_extended_remote##&#10;set mem inaccessible-by-default ${mem.access}&#10;mon ondisconnect ${ondisconnect}&#10;set arm force-mode thumb&#10;${load}"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.ipAddress" value="localhost"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadImage" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadSymbols" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.pcRegister" value=""/>
    <intAttribute key="org.eclipse.cdt.debug.gdbjtag.core.portNumber" value="10989"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.runCommands" value="${run}"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setPcRegister" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setResume" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setStopAt" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.stopAt" value="main"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.symbolsFileName" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.symbolsOffset" value=""/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useFileForImage" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useFileForSymbols" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForImage" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForSymbols" value="true"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="arm-none-eabi-gdb"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_ON_FORK" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.EXTERNAL_CONSOLE" value="false"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.GDB_INIT" value=""/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.NON_STOP" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.REVERSE" value="false"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.REVERSE_MODE" value="UseSoftTrace"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.TRACEPOINT_MODE" value="TP_NORMAL_ONLY"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.UPDATE_THREADLIST_ON_SUSPEND" value="false"/>
    <intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
    <stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="gdb"/>
    <stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="remote"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug/frdm-mcxn947-xpresso-freertos-builtin.axf"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="frdm-mcxn947-xpresso-freertos-builtin"/>
    <booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="com.crt.advproject.config.exe.debug.1992514917"/>
    <booleanAttribute key="org.eclipse.cdt.launch.use_terminal" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/frdm-mcxn947-xpresso-freertos-builtin"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.preferred_launchers">
        <mapEntry key="[debug]" value="com.nxp.mcuxpresso.core.debug.support.linkserver.launch.LinkServerGdbLaunch"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.dsf.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;memoryBlockExpressionList context=&quot;reserved-for-future-use&quot;/&gt;"/>
    <stringAttribute key="process_factory_id" value="com.nxp.mcuxpresso.core.debug.override.MCXProcessFactory"/>
    <booleanAttribute key="redlink.disable.preconnect.script" value="false"/>
    <booleanAttribute key="redlink.enable.flashhashing" value="true"/>
    <booleanAttribute key="redlink.enable.rangestepping" value="true"/>
    <stringAttribute key="run" value="cont"/>
    <booleanAttribute key="vector.catch" value="false"/>
</launchConfiguration>
